To convert to `.py` script, run this command:
`jupyter nbconvert pipeline.ipynb --to script` in terminal

In [7]:
import pandas as pd
from sqlalchemy import create_engine

Code that deals with reading large CSV files in Python using pandas:

**1. Create the iterator**
```
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10_000)
```
* Creates an iterator object that will read the CSV file in chunks
* `iterator=True` tells pandas to return an iterator instead of loading the entire file
* `chunksize=10_000` specifies that each chunk will contain 10,000 rows
* This is memory-efficient for large files since it doesn't load everything at once

**2. iterate through all the batches**
```
while True:
    try:
        df = next(df_iter)
        # do something 
    except StopIteration:
        print("Finished iterating over the CSV file")
        break
```

#### Load data from parquet file

In [ ]:
# read parquet file
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [3]:
# check number of rows and columns
df.shape

(1369769, 19)

#### Create a connection to the postgres DB

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

#### Generate an SQL schema from dataframe

In [41]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

#### Insert the data into postgres

In [42]:
# Creates an empty table with the predefined schema
df.head(0).to_sql('yellow_taxi_data', con=engine, index=False, if_exists='replace')

0

The previous call generated an empty table with the schema. We could verify inside the postgres DB like this:

`root@localhost:ny_taxi> \d yellow_taxi_data`

| Column | Type | Modifiers |
|--------|------|-----------|
| VendorID | bigint | |
| tpep_pickup_datetime | timestamp without time zone | |
| tpep_dropoff_datetime | timestamp without time zone | |
| passenger_count | double precision | |
| trip_distance | double precision | |
| RatecodeID | double precision | |
| store_and_fwd_flag | text | |
| PULocationID | bigint | |
| DOLocationID | bigint | |
| payment_type | bigint | |
| fare_amount | double precision | |
| extra | double precision | |
| mta_tax | double precision | |
| tip_amount | double precision | |
| tolls_amount | double precision | |
| improvement_surcharge | double precision | |
| total_amount | double precision | |
| congestion_surcharge | double precision | |
| airport_fee | double precision | |

<br>

> Note: We have to be `pgcli` in order to execute this

In [11]:
pd.read_csv('https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv').to_sql('taxi_zone_lookup', con=engine, index=False, if_exists='replace')

265

In [43]:
from time import time

chunk_size = 300_000
# This way we could insert data in chunks
for i in range(0, len(df), chunk_size):
    t_start = time()
    # insert the chunk
    df.iloc[i:i+chunk_size].to_sql('yellow_taxi_data', con=engine, index=False, if_exists='append')

    t_end = time()
    print(f'Inserted {i+chunk_size} rows in {round(t_end - t_start, 3)} seconds')


# df.to_sql('yellow_taxi_data', con=engine, index=False, if_exists='append')

Inserted 300000 rows in 15.614 seconds
Inserted 600000 rows in 15.25 seconds
Inserted 900000 rows in 14.351 seconds
Inserted 1200000 rows in 16.258 seconds
Inserted 1500000 rows in 7.509 seconds

#### You can also display query results directly in jupyter notebook

In [44]:
query = """
    select 
        count(*) as total_rows
    from 
        yellow_taxi_data
"""

pd.read_sql(query, con=engine)

   total_rows
0     1369769

In [45]:
query = """ 
    select
        *
    from
        yellow_taxi_data
    limit 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,None
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,None
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,None
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,None
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,None
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,None
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,None
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5,None
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0,None
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5,None